html {
    height: 100%;
}




body {
    min-height: 100%;
	position: relative;
	font-size: 18px;
}


h3 {
    /*margin: 0px;*/
    font-size: 20px;
}

h4 {
    margin: 20px;
}


ul {
  list-style-position: outside;
}


li {
    font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 15px;
}

.navstyle {
    border-bottom: 1px black solid;
}

/*.container{*/
/*    background-color: #FAF5E4;*/
/*}*/

.container {
	margin: 50px;
	
}

.anchor{
   display:block;
   height:20px; /* this is the height of your header */
   margin-top:-20px; /* this is again negative value of the height of your header */
   visibility:hidden;
}


.navbar-brand {
	margin-right: 50px;
}

.logo-image {
    object-fit: scale-down;
    width: 100px;
    height: auto;
    margin: 0 10px;
    /*border-style: solid;*/
    /*border-color: black;*/
    /*border-width: 3px;*/
}


.about {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-left: 1.5rem;
    padding-right: 60px;

    margin-bottom: -3.5rem;
    font-size: 20px;
}

.content {
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 0rem;
}

.block1 {
	margin-left: 1.5rem;
	padding-right: 60px

}

.block2 {
	background-color: #E9DFE7;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 25px;
	padding-right: 25px;

}


/* people section */

.people-container{
    margin-top: 2rem;
}

.person a:visited {
	color: black;
}

.person a:hover {
	color: gray;
}

.person-desc {
	font-style: italic;
	line-height: 1em;
	font-size: 14px;
	display: block;
}

.person-email {
	line-height: 0;
	font-size: 14px;
	display: block;
}

.person-picture{
    width:130px !important;
    height:130px !important;
    border-radius: 50%;
    /*vertical-align:top; */
    margin-right: 15px;
    border:1px solid #999999;
    object-fit: cover;
	
}

.person {
    align-items: center;
	margin: 20px;
	display: flex;
	flex-direction: row;
}

p {
    line-height: 200%;
}

.footer {
    /*position:absolute;*/
    /*bottom:0;*/
    /*height:60px;*/
}


.footer p {
    font-size: 12px;
    margin-top: 1rem;
}

/* research section */

.research-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
    /*margin-top: 3rem;*/
    align-items: flex-start;
    /*height: 300px;*/
}

.research-image {
    object-fit: scale-down;
    width: 370px;
    height: auto;
    margin: 0 10px;
    /*border-style: solid;*/
    /*border-color: black;*/
    /*border-width: 3px;*/
}

.research-text {
    margin: 0 10px 0 60px;
}

.research-text p {
    line-height: 1.5;
}

/* course section */

.card {
    margin: 20px;
}

/* mobile */
@media only screen and (max-width: 1000px) {
    body {
		margin: 0px;
		overflow-wrap: break-word;
	}
	
	.container {
		margin: 0px;
	}
	
	.content {
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.card {
		margin: 0px;
	}
	
	.people-container {
		margin: 0px;
		max-width: 80%;
	}
	
	.course {
		margin: 0px;
	}
	
	.row {
		display: block;
		/*margin-left: auto;
		margin-right: auto;*/
		margin-bottom: 20px;
		/*width: 50%;*/
	}
	
	.person {
		margin-bottom: 20px;
	}
	
	p {  
		font-size: 16px;
        line-height: 150%;
    }
	
	.research-image {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
		width: 100%;
	}
	
	.research-text {
		display: block;
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.research-block {
		display: block;
	}
}
